/* Header.module.css */

.header {
  /* Your header styles here */
}

.companyName {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.navContainer {
  display: flex;
  align-items: center;
  /* Your navigation container styles here */
}

.logo img{
  margin-right: 10px;
  width: 100px;
}

