/* Header.module.css */

.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navItem {
    font-size: 18px;
  }
  
  .navItem a {
    color: #fff;
    text-decoration: none;
  }
  
  .logo {
    font-size: 24px;
  }
  